/******************************************************************************
 * Content
 ******************************************************************************/

body {
  color: var(--global-text-color);
  background-color: var(--global-bg-color);
  font-weight: normal !important;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 66px;
    font-weight: normal !important;
  }
}

.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 4rem;
}

.sticky-bottom-footer {
  // Remove padding below footer. Do not change.
  padding-bottom: 0rem !important;
}

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

// TODO: redefine content layout.

/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.

/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
